LOCALNOTES
node_modules/
gatsby/node_modules/
gatsby/.cache/
gatsby/public
gatsby/.env.development
gatsby/.env.production
gatsby/yarn-error.log
gatsby/yarn.lock
gatsby/.eslintcache
sanity/node_modules
sanity/yarn.lock