.posts {
    list-style-type: none;
    margin: 0;
  }
  .post {
    padding-bottom: 2.5rem;
  }
  .post h2,
  .content h1 {
    text-align: center;
  }
  .post h2 a {
    color: #555;
  }
  .meta {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1.25rem;
    display: block;
  }
  .excerpt {
    margin: 1.8rem 0 9rem;
    font-weight: 300;
    letter-spacing: 0.02em;
  }
  .button {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    padding: 1.25rem 0;
  }
  .button a {
    color: #555;
    padding: 0.6rem 0.75rem;
    text-decoration: none;
    border: 1px solid #555;
  }
  .button a:hover {
    color: #fff;
    border-color: #222;
    background-color: #222;
  }